$color-bg: hsl(260, 13%, 9%);
$color-accent: hsl(273, 20%, 35%);
$color-accent-strong: hsl(268, 100%, 77%);
$color-fg: hsl(286, 21%, 84%);
$color-gray65: hsla(0, 0, 65, 1);
$color-gray25: hsla(0, 0, 25, 1);

$color-white-10: rgba(white, 0.1);

$color-red: #e66064;
$color-yellow: #ffce85;
$color-green: #3cc962;
$color-blue: #42afff;
